apiVersion: apps/v1
kind: Deployment
metadata:
  name: careconnect-deployment
  namespace: careconnect
spec:
  replicas: 1
  selector:
    matchLabels:
      app: careconnect
  template:
    metadata:
      labels:
        app: careconnect
    spec:
      containers:
        - name: careconnect-container
          image: laendletechregistry.azurecr.io/careconnectapp:PLACEHOLDER
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "https://careconnect.laendletech.at/api"
